.customer__title {
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;

}
.projects__subtitle {
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.projects__block {
  padding-left: 60px;
  @media screen and (max-width: 768px){
    padding:  8px;
  }
}

.projects__title {
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gilroy;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  text: white;
  line-height: 56px;
}
.customer {
  background-color:  #23242a;
}
